<a href="https://colab.research.google.com/github/ammad3059/deep_learning_projects/blob/main/diabetes_prblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense,Flatten
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score,KFold

In [ ]:
from google.colab import files
files.upload()

In [3]:
dataframe=pd.read_csv('pima-indians-diabetes.csv',header=None)

In [4]:
dataframe.head(10)

    0    1   2   3    4     5      6   7  8
0   6  148  72  35    0  33.6  0.627  50  1
1   1   85  66  29    0  26.6  0.351  31  0
2   8  183  64   0    0  23.3  0.672  32  1
3   1   89  66  23   94  28.1  0.167  21  0
4   0  137  40  35  168  43.1  2.288  33  1
5   5  116  74   0    0  25.6  0.201  30  0
6   3   78  50  32   88  31.0  0.248  26  1
7  10  115   0   0    0  35.3  0.134  29  0
8   2  197  70  45  543  30.5  0.158  53  1
9   8  125  96   0    0   0.0  0.232  54  1

In [5]:
dataset=dataframe.values
x_train=dataset[:,0:8]
y_train=dataset[:,8]

In [6]:
print(x_train.shape)

(768, 8)

In [7]:
y_train.shape

(768,)

In [8]:
train_data = np_utils.normalize(x_train,axis=1)

In [9]:
def baseline_model():
  model=Sequential()
  model.add(Flatten())
  model.add(Dense(14,activation='relu'))
  model.add(Dense(8,activation='relu'))
  model.add(Dense(1,activation='sigmoid'))
  model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
  return model

In [10]:
estimator = KerasClassifier(build_fn=baseline_model,epochs=150,batch_size=4,verbose=2)

In [11]:
import numpy as np
seed = 42
np.random.seed(seed)
kfold = KFold(n_splits=10,shuffle=True,random_state=seed)

In [ ]:
results = cross_val_score(estimator,x_train,y_train,cv=kfold)

In [13]:
print(results.mean())

0.7383116900920867